<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOltdLCJkaXNwbGF5TmFtZSI6IkdlYXIgQUkgLSBD
		aGF0IHdpdGggeW91ciB2ZWhpY2xlISIsInBhY2thZ2VLaW5kIjp7InJvb3Qi
		Ont9fSwicGxhdGZvcm1zIjpbeyJvcHRpb25zIjpbXSwicGxhdGZvcm1OYW1l
		IjoiaW9zIiwidmVyc2lvbiI6IjE4LjEifV0sInByb2R1Y3RzIjpbeyJuYW1l
		IjoiR2VhciBBSSAtIENoYXQgd2l0aCB5b3VyIHZlaGljbGUhIiwic2V0dGlu
		Z3MiOlt7ImJ1bmRsZUlkZW50aWZpZXIiOlsiY29tLmdlYXJhaS5hcHAiXX0s
		eyJ0ZWFtSWRlbnRpZmllciI6WyIyNVFTVU5ZRkM5Il19LHsiZGlzcGxheVZl
		cnNpb24iOlsiMC4xLjAiXX0seyJidW5kbGVWZXJzaW9uIjpbIjEiXX0seyJp
		T1NBcHBJbmZvIjpbeyJhY2NlbnRDb2xvciI6eyJwcmVzZXRDb2xvciI6eyJw
		cmVzZXRDb2xvciI6eyJyYXdWYWx1ZSI6ImJsdWUifX19LCJhcHBDYXRlZ29y
		eSI6eyJyYXdWYWx1ZSI6InB1YmxpYy5hcHAtY2F0ZWdvcnkucHJvZHVjdGl2
		aXR5In0sImFwcEljb24iOnsiYXNzZXQiOnsibmFtZSI6IkFwcEljb24ifX0s
		ImNhcGFiaWxpdGllcyI6W3sicHVycG9zZSI6ImluY29taW5nTmV0d29ya0Nv
		bm5lY3Rpb25zIn0seyJwdXJwb3NlIjoib3V0Z29pbmdOZXR3b3JrQ29ubmVj
		dGlvbnMifSx7InB1cnBvc2UiOiJjYW1lcmEiLCJwdXJwb3NlU3RyaW5nIjoi
		VG8gYWRkIHlvdXIgdmVoaWNsZSBpbnN0YW50bHkgYW5kIGFjY3VyYXRlbHks
		IEdlYXIgQUkgY2FuIHVzZSB0aGUgY2FtZXJhIHRvIHNjYW4gdGhlIFZlaGlj
		bGUgSWRlbnRpZmljYXRpb24gTnVtYmVyIChWSU4pIGJhcmNvZGUgb24geW91
		ciBjYXIncyBkb29yIGphbWIgb3IgZGFzaGJvYXJkLiBUaGlzIGlzIHRoZSBm
		YXN0ZXN0IHdheSB0byBjcmVhdGUgeW91ciBjYXIncyBkaWdpdGFsIHR3aW4u
		In0seyJwdXJwb3NlIjoicGhvdG9MaWJyYXJ5IiwicHVycG9zZVN0cmluZyI6
		IlRvIGNyZWF0ZSBhIHBlcnNvbmFsaXplZCBnYXJhZ2UsIEdlYXIgQUkgbmVl
		ZHMgYWNjZXNzIHRvIHlvdXIgcGhvdG8gbGlicmFyeS4gVGhpcyBhbGxvd3Mg
		eW91IHRvIHNlbGVjdCBhIHByb2ZpbGUgcGljdHVyZSBhbmQgdXBsb2FkIHBo
		b3RvcyBvZiB5b3VyIGFjdHVhbCB2ZWhpY2xlcywgbWFraW5nIHlvdXIgZGln
		aXRhbCBnYXJhZ2UgdHJ1bHkgeW91ciBvd24uIn0seyJwdXJwb3NlIjoiZmFj
		ZUlEIiwicHVycG9zZVN0cmluZyI6IkVuYWJsZSBGYWNlIElEIHRvIHNlY3Vy
		ZSB5b3VyIGRpZ2l0YWwgZ2FyYWdlLiBUaGlzIGFkZHMgYSBsYXllciBvZiBi
		aW9tZXRyaWMgc2VjdXJpdHksIGFsbG93aW5nIHlvdSB0byBxdWlja2x5IGFu
		ZCBzYWZlbHkgYWNjZXNzIHlvdXIgdmVoaWNsZSBkYXRhIGFuZCBhdXRob3Jp
		emUgc2Vuc2l0aXZlIGFjdGlvbnMsIHN1Y2ggYXMgbWFuYWdpbmcgeW91ciBX
		ZWIzIGFzc2V0cy4ifSx7InB1cnBvc2UiOiJ1c2VyVHJhY2tpbmciLCJwdXJw
		b3NlU3RyaW5nIjoiQWxsb3dpbmcgdHJhY2tpbmcgaGVscHMgdXMgdW5kZXJz
		dGFuZCBob3cgeW91IHVzZSBHZWFyIEFJIHNvIHdlIGNhbiBpbXByb3ZlIG91
		ciBmZWF0dXJlcyBhbmQgbWFrZSB0aGUgQUkgYXNzaXN0YW50IHNtYXJ0ZXIu
		IFlvdXIgZGF0YSBpcyB1c2VkIHRvIGVuaGFuY2UgeW91ciBleHBlcmllbmNl
		IGFuZCBpcyBub3Qgc29sZCB0byB0aGlyZC1wYXJ0eSBhZHZlcnRpc2Vycy4g
		WW91IGFyZSBpbiBjb250cm9sIG9mIHlvdXIgZGF0YS4ifSx7InB1cnBvc2Ui
		OiJsb2NhdGlvbldoZW5JblVzZSIsInB1cnBvc2VTdHJpbmciOiJHZWFyIEFJ
		IHVzZXMgeW91ciBsb2NhdGlvbiB3aGlsZSB0aGUgYXBwIGlzIG9wZW4gdG8g
		cHJvdmlkZSBsb2NhdGlvbi1hd2FyZSBmZWF0dXJlcy4gVGhpcyB3aWxsIGVu
		YWJsZSB5b3UgdG8gZmluZCBuZWFyYnkgbWVjaGFuaWNzIGFuZCBjaGFyZ2lu
		ZyBzdGF0aW9ucywgdHJhY2sgeW91ciBkcml2ZXMgZm9yIGVmZmljaWVuY3kg
		aW5zaWdodHMsIGFuZCBhdXRvbWF0aWNhbGx5IGxvZyBzZXJ2aWNlIGxvY2F0
		aW9ucy4ifSx7InB1cnBvc2UiOiJibHVldG9vdGhBbHdheXMiLCJwdXJwb3Nl
		U3RyaW5nIjoiVG8gY3JlYXRlIGEgdHJ1ZSBkaWdpdGFsIHR3aW4gb2YgeW91
		ciBjYXIsIEdlYXIgQUkgbmVlZHMgQmx1ZXRvb3RoIGFjY2Vzcy4gVGhpcyBh
		bGxvd3MgdGhlIGFwcCB0byBjb25uZWN0IGRpcmVjdGx5IHRvIE9uLUJvYXJk
		IERpYWdub3N0aWMgKE9CRDIpIHNjYW5uZXJzLCBlbmFibGluZyByZWFsLXRp
		bWUgaGVhbHRoIG1vbml0b3JpbmcsIGxpdmUgZGF0YSBzdHJlYW1pbmcsIGFu
		ZCBpbnN0YW50IGNoZWNrIGVuZ2luZSBsaWdodCBkaWFnbm9zaXMuIn0seyJw
		dXJwb3NlIjoic3BlZWNoUmVjb2duaXRpb24iLCJwdXJwb3NlU3RyaW5nIjoi
		RW5hYmxlIFNwZWVjaCBSZWNvZ25pdGlvbiB0byBjaGF0IHdpdGggeW91ciB2
		ZWhpY2xlJ3MgQUkgYXNzaXN0YW50IGhhbmRzLWZyZWUuIFRoaXMgYWxsb3dz
		IHlvdSB0byBhc2sgcXVlc3Rpb25zIGFuZCBpc3N1ZSBjb21tYW5kcyB1c2lu
		ZyB5b3VyIHZvaWNlLCB3aGljaCBpcyBlc3NlbnRpYWwgZm9yIHNhZmUgb3Bl
		cmF0aW9uIHdoaWxlIGRyaXZpbmcuIn0seyJwdXJwb3NlIjoibWljcm9waG9u
		ZSIsInB1cnBvc2VTdHJpbmciOiJHZWFyIEFJIHVzZXMgdGhlIG1pY3JvcGhv
		bmUgdG8gZW5hYmxlIHZvaWNlIGNvbW1hbmRzIGZvciB0aGUgY2hhdCBhc3Np
		c3RhbnQuIFlvdXIgdm9pY2UgaXMgcHJvY2Vzc2VkIG9uLWRldmljZSBhbmQg
		YnkgQXBwbGUncyBzZXJ2ZXJzIHRvIHRyYW5zY3JpYmUgeW91ciBxdWVzdGlv
		bnMsIGFsbG93aW5nIGZvciBhIHNlYW1sZXNzLCBoYW5kcy1mcmVlIGV4cGVy
		aWVuY2UuIn0seyJwdXJwb3NlIjoibmVhcmJ5SW50ZXJhY3Rpb25BbGxvd09u
		Y2UiLCJwdXJwb3NlU3RyaW5nIjoiR2VhciBBSSB1c2VzIE5lYXJieSBJbnRl
		cmFjdGlvbiB0byBlbmFibGUgc2VjdXJlLCBkaXJlY3QgZGF0YSBzaGFyaW5n
		IHdpdGggdHJ1c3RlZCBkZXZpY2VzLiBUaGlzIGFsbG93cyB5b3UgdG8gZ3Jh
		bnQgYSBtZWNoYW5pYyB0ZW1wb3JhcnkgYWNjZXNzIHRvIHlvdXIgdmVoaWNs
		ZSdzIGRpYWdub3N0aWMgZGF0YSBpbiBwZXJzb24sIHdpdGhvdXQgbmVlZGlu
		ZyBhbiBpbnRlcm5ldCBjb25uZWN0aW9uLCBwdXR0aW5nIHlvdSBpbiBjb250
		cm9sIG9mIHlvdXIgZGF0YS4ifSx7ImJvbmpvdXJTZXJ2aWNlVHlwZXMiOlsi
		X2dlYXJhaS1kaWFnLl90Y3AiLCJfb2JkMi1odHRwLl90Y3AiLCJfZ2VhcmFp
		LWF0dGVzdC5fdWRwIl0sInB1cnBvc2UiOiJsb2NhbE5ldHdvcmsiLCJwdXJw
		b3NlU3RyaW5nIjoiQWxsb3dpbmcgbG9jYWwgbmV0d29yayBhY2Nlc3MgZW5h
		YmxlcyBHZWFyIEFJIHRvIGRpc2NvdmVyIGFuZCBjb21tdW5pY2F0ZSBkaXJl
		Y3RseSB3aXRoIGhhcmR3YXJlIG9uIHlvdXIgV2ktRmkgbmV0d29yaywgc3Vj
		aCBhcyBPQkQyIHNjYW5uZXJzIG9yIGZ1dHVyZSBzbWFydCB2ZWhpY2xlIGFj
		Y2Vzc29yaWVzLiBUaGlzIHByb3ZpZGVzIGEgZmFzdGVyIGFuZCBtb3JlIHJl
		bGlhYmxlIGNvbm5lY3Rpb24gZm9yIHJlYWwtdGltZSBkYXRhLiJ9XSwic3Vw
		cG9ydGVkRGV2aWNlRmFtaWxpZXMiOlsicGFkIiwicGhvbmUiXSwic3VwcG9y
		dGVkSW50ZXJmYWNlT3JpZW50YXRpb25zIjpbeyJwb3J0cmFpdCI6e319LHsi
		bGFuZHNjYXBlUmlnaHQiOnt9fSx7ImxhbmRzY2FwZUxlZnQiOnt9fSx7InBv
		cnRyYWl0VXBzaWRlRG93biI6eyJjb25kaXRpb24iOnsiZGV2aWNlRmFtaWxp
		ZXMiOlsicGFkIl19fX1dfV19XSwidGFyZ2V0cyI6WyJBcHBNb2R1bGUiXSwi
		dHlwZSI6eyJleGVjdXRhYmxlIjpudWxsfX1dLCJ0YXJnZXRNYXAiOnsiQXBw
		TW9kdWxlIjp7ImRlcGVuZGVuY2llcyI6W10sImV4Y2x1ZGUiOltdLCJuYW1l
		IjoiQXBwTW9kdWxlIiwicGFja2FnZUFjY2VzcyI6dHJ1ZSwicGF0aCI6Ii4i
		LCJyZXNvdXJjZXMiOlt7InBhdGgiOiJSZXNvdXJjZXMiLCJydWxlIjp7InBy
		b2Nlc3MiOnt9fX1dLCJzZXR0aW5ncyI6W3sia2luZCI6eyJlbmFibGVVcGNv
		bWluZ0ZlYXR1cmUiOnsiXzAiOiJCYXJlU2xhc2hSZWdleExpdGVyYWxzIn19
		LCJ0b29sIjoic3dpZnQifV0sInR5cGUiOiJleGVjdXRhYmxlIn19LCJ0YXJn
		ZXRzIjpbeyJkZXBlbmRlbmNpZXMiOltdLCJleGNsdWRlIjpbXSwibmFtZSI6
		IkFwcE1vZHVsZSIsInBhY2thZ2VBY2Nlc3MiOnRydWUsInBhdGgiOiIuIiwi
		cmVzb3VyY2VzIjpbeyJwYXRoIjoiUmVzb3VyY2VzIiwicnVsZSI6eyJwcm9j
		ZXNzIjp7fX19XSwic2V0dGluZ3MiOlt7ImtpbmQiOnsiZW5hYmxlVXBjb21p
		bmdGZWF0dXJlIjp7Il8wIjoiQmFyZVNsYXNoUmVnZXhMaXRlcmFscyJ9fSwi
		dG9vbCI6InN3aWZ0In1dLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9XSwidG9vbHNW
		ZXJzaW9uIjp7Il92ZXJzaW9uIjoiNS45LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		0q/i+XqyJi+T1RY8O/MQakjaRVB8+l8JJDcv4SIcsjg=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>6.0.2-dev</string>
	</dict>
</dict>
</plist>
